@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
/* font-family: 'Roboto Condensed', sans-serif;
font-family: 'Sigmar One', cursive; */
/*font-family: 'Kanit', sans-serif;*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
:root{
  --first: #845EC2;
  --second: #B39CD0;
  --third:  #f6f6f6;
  --fourth: #00C9A7;
  /*colores extras*/
  --white: #fff;
  --black: #000;
  --icon: rgb(245, 243, 243);
}
body{
    background-color: var(--third);
}

.far,
.fas{
  color: var(--second);
  cursor: pointer;
}

/*imagenes*/
.image--circle{
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.image--big{
  width: 10rem;
  height: 10rem;
}
.image--medium{
  width: 5rem;
  height: 5rem;
}
.image--small{
  width: 3rem;
  height: 3rem;
}
/*--------texto---------*/
.title{
  font-family: 'Kanit', sans-serif;
  font-size: 3rem;
}
.subtitle{
  font-weight: bold;
  font-size: 1.6rem;
}
.paragraph{
  font-size: 1.1rem;
}

/*----boton circular------*/
.button--circle{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--first); 
  display: grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button--circle:hover{
  background: #845ec2e1;
  transition: all 1s;
}
.fa-play{
  font-size: 2rem;
}