/*contenido*/
.content{
    width: 95%;
    height: calc(100vh - 85px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 10rem 3fr 1.5fr;
    grid-template-rows: 1fr 2fr;
    gap: 1rem;
    justify-content: space-evenly;
    grid-template-areas: "menu principal dowloand"
                        "link album dowloand";
}
/*compoenetes principales*/
.content__menu{
    grid-area: menu;
}
.content__principal{
    height: 25rem;
    grid-area: principal;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}
.principal__artist--font{
    margin-bottom: 1rem;
}
.content__dowloand{
    grid-area: dowloand;
}
.content__link{
    grid-area: link;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px
}
.content__album{
    height: 100%;
    grid-area: album;

    display: flex;
    gap:2rem;
    align-items: center;
    justify-content: center;
}

/*------componentes del menu-------*/
.content__menu-nav{
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;

    margin-top: 2rem;
}
.nav__list{
    list-style: none;
}
.nav_list-link{
    text-decoration: none;
    color: var(--black);
    display: flex;
    align-items: center;
    gap: 1rem;
}
.link--fas{
    font-size: small;
    width: 1.7rem;
    height: 1.7rem;
    background: var(--icon);
    border-radius: 50%;

    display: grid;
    align-items: center;
    justify-content: center;

    box-shadow: 1px 1px 2px rgb(201, 200, 200);
}

/*-----componentes del banner-------*/
.content__principal-artist{
    align-self: center;
}

.content__principal-image{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    justify-content: center;

    position: relative;
    
}
.principal__image--small{
    margin-left: 20%;
    grid-column: 1/2;
    grid-row: 1/2;

    box-shadow: 1px 5px 10px rgb(143, 141, 141);
}
.principal__image--medium{
    margin: 0 auto;
    grid-column: 1/2;
    grid-row: 2/3;

    box-shadow: 1px 5px 10px rgb(143, 141, 141);
}
.principal__image--big{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    height: 20rem;
    z-index: -1;

    box-shadow: 5px 5px 20px rgb(143, 141, 141);
}

.principal__image--button{
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0 auto;
    margin-top: 1rem;
}

/*--------componentes del dowloand--------*/
.dowloand{
    display: grid;
    grid-auto-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}
.content__dowloand-item{
    height: 70px;
    padding: 1rem;
    background: var(--third);
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgb(192, 187, 187);

    display: grid;
    grid-template-columns: 1fr 3fr 0.8fr;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.item__info--font1{
    font-size: 1.2rem;
}
.item__info--font2{
    font-size: 1rem;
}
.item__icon{
    width: 2.5rem;
    height: 2.5rem;
    border:2px solid var(--second);
    border-radius: 50%;

    display: grid;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

/*------componentes del album------*/
.content__album-item{
    background: var(--third);
    width: 15rem;
    padding: 1rem 0;
    border-radius: 1rem;
    box-shadow: 1px 5px 20px 2px rgba(192, 187, 187, 0.5);
    cursor: pointer;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content__album-item:hover{
    transform: scale(1.05);
    transition: all 1s;
}
.item__album--align{
    text-align: center;
}
.item__album--mg{
    margin-left: 1rem;
    margin-bottom: 0.4rem;
}
.item__album--font1{
    font-size: 1rem;
}
.item__album--font2{
    font-size: 0.8rem;
    font-weight: bold;
}
.item__button{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}
.item__album--play{
    width: 3.5rem;
    height: 3.5rem;
}
.item__album--button{
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: 2px solid var(--first);
}
.item__album--button:hover{
    background: #845ec223;
    transition: all 1s;
  }
.item__album--play > .fa-play{
    font-size: 1.2rem;
}
 /*-------componentes del link-----*/
 .content__music--link{
     width: 2.5rem;
     height: 2.5rem;
     background-color: var(--fourth);
     color: var(--white);
     border-radius: 50%;
     box-shadow: 1px 1px 2px rgb(201, 200, 200);
     display: grid;
     align-items: center;
     justify-content: center;
     text-decoration: none;
 }
