/* Para 960px */
@media only screen and (max-width: 1400px) and (min-width: 768px) {
    .content {
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: 1fr;
      grid-template-areas:
        "menu menu menu"
        "principal principal principal"
        "album album album"
        "dowloand dowloand dowloand"
        "link link link";
    }
    .content__menu-nav {
      flex-direction: row;
      justify-content: center;
      gap: 1.5rem;
  
      margin-top: 2rem;
    }
    .dowloand {
      grid-template-columns: 1fr 1fr;
    }
    .content__link {
      flex-direction: row;
      padding-bottom: 1rem;
    }
    .content__principal {
      width: 90%;
      margin: 1rem auto;
    }
    .principal__image--medium {
      grid-column: 3/4;
    }
  }
  
  /* Para 800px */
  @media only screen and (max-width: 768px) and (min-width: 636px) {
    .content {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 1fr;
        margin: 0;
        grid-template-areas:
          "menu menu menu"
          "principal principal principal"
          "album album album"
          "dowloand dowloand dowloand"
          "link link link";
      }
      .content__menu-nav {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
      }
      .dowloand {
        grid-template-columns: 1fr 1fr;
      }
      .content__link {
        flex-direction: row;
        padding-bottom: 1rem;
      }
      .content__principal {
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: 1fr 1fr; */
      }
      .principal__image--button{
        margin-bottom: -3rem;
    }
    .content__album{
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 1rem;
    }
    .item__button{
        width: 90%;
    }
  }
  
  /* Para 480px */
  @media only screen and (max-width: 636px) and (min-width: 320px) {
    .content {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 1fr;
        grid-template-areas:
          "menu menu menu"
          "principal principal principal"
          "album album album"
          "dowloand dowloand dowloand"
          "link link link";
      }
      .content__menu-nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    
        margin-top: 2rem;
      }
      .dowloand {
        grid-template-columns: 1fr;
      }
      .content__link {
        flex-direction: row;
        padding-bottom: 1rem;
      }
      .content__principal {
        width: 100%;
        margin: 0 auto;
        height: auto;
    
        grid-template-rows: 1fr 1fr;
      }
      .principal__image--button{
        margin-bottom: -3rem;
    }
    .content__album{
        flex-direction: column;
        margin-top: 1.5rem;
    }
  }
  
  /* Para 320px */
  @media only screen and (max-width: 340px) and (min-width: 5px) {
    
  }
  