<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stereo</title>
    <!--font-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--css-->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <!--encabezado-->
    <header class="header">
        <div class="header__logo">
            <p>stereo</p>
        </div>
        <nav class="header__nav">
            <i class="fas fa-cog"></i>
            <i class="far fa-bell"></i>
            <p class="header__nav-user"></p>
            <img src="https://i.ibb.co/MgTSxh2/shaw-mendes.jpg" alt="" class="header__nav-icon">
        </nav>
    </header>
    <!--contenedor-->
    <main class="content">
        <!--menu de contenido-->
        <div class="content__menu">
            <ul class="content__menu-nav">
                <li class="nav__list">
                    <a href=""  class="nav_list-link">
                        <i class="fas fa-search"></i>
                        <span>Explorar</span>
                    </a>
                </li>
                <li class="nav__list">
                    <a href="" class="nav_list-link">
                        <i class="fas fa-music"></i>
                        <span>Musicas< /span>
                    </a>
                </li>
                <li class="nav__list">
                    <a href="" class="nav_list-link">
                        <i class="fas fa-microphone"></i>
                        <span>Artistas</span>
                    </a>
                </li>
                <li class="nav__list">
                    <a href="" class="nav_list-link">
                        <i class="fas fa-compact-disc"></i>
                        <span>Albums</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--banner principal-->
        <div class="content__principal">
            
            <div class="content__principal-artist">
                <h2 class="title">Shawn Mendes</h2>
                <h5 class="subtitle">Canadiense</h5>
                <p class="paragraph">
                    Shawn Peter Raul Mendes es un cantante, compositor y modelo canadiense. Obtuvo seguidores en 2013,
                    cuando comenzó a publicar versiones de canciones en la aplicación para compartir videos de Vine.​
                </p>
            </div>
           
            <div class="content__principal-image">
                <div class="image--circle image--big">
                    <img src="https://i.ibb.co/MgTSxh2/shaw-mendes.jpg" alt="" class="image__img">
                </div>
                <div class="image--circle image--medium">
                    <img src="https://i.ibb.co/MgTSxh2/shaw-mendes.jpg" alt="" class="image__img">
                </div>
                <div class="image--circle image--small">
                    <img src="https://i.ibb.co/MgTSxh2/shaw-mendes.jpg" alt="" class="image__img">
                </div>
                <div class="button--circle">
                    <i class="fas fa-play"></i>
                </div>
            </div>

        </div>
        <!--contenedor de descargas-->
        <div class="content__dowloand">
            <!--item de descargas-->
            <div class="content__dowloand-item">
                <div class="image--circle image--medium">
                    <img src="https://i.ibb.co/MgTSxh2/shaw-mendes.jpg" alt="" class="image__img">
                </div>
                <div class="item__info">
                    <h5 class="subtitle">Mercy</h5>
                    <p class="paragraph">Shawn Mendes</p>
                </div>
                <div class="item__icon">
                    <i class="fas fa-download"></i>
                </div>
            </div>
            <!--item de descargas-->
            <div class="content__dowloand-item">
                <div class="image--circle image--medium">
                    <img src="https://i.ibb.co/MgTSxh2/shaw-mendes.jpg" alt="" class="image__img">
                </div>
                <div class="item__info">
                    <h5 class="subtitle">Mercy</h5>
                    <p class="paragraph">Shawn Mendes</p>
                </div>
                <div class="item__icon">
                    <i class="fas fa-download"></i>
                </div>
            </div>
        </div>
        <!--contenedor de links-->
        <div class="content__link">
            <a href="https://github.com/madeliyricra" class="content__music--link" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://github.com/madeliyricra" class="content__music--link" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://github.com/madeliyricra" class="content__music--link" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!--contenedor del album-->
        <div class="content__album">
            <!--item del album-->
            <div class="content__album-item">
                <h2 class="title">01</h2>
                <h6 class="subtitle">Wonder</h6>
                <p class="paragraph">2020</p>
                <a href="" class="item--link">
                    <i class="fas fa-angle-right"></i>
                    <span>Ver más</span>
                </a>
            </div>
            <!--item del album-->
            <div class="content__album-item">
                <h2 class="title">02</h2>
                <h6 class="subtitle">Shawn Mendes</h6>
                <p class="paragraph">2018</p>
                <a href="" class="item--link">
                    <i class="fas fa-angle-right"></i>
                    <span>Ver más</span>
                </a>
            </div>
            <!--item del album-->
            <div class="content__album-item">
                <h2 class="title">03</h2>
                <h6 class="subtitle">Illuminate</h6>
                <p class="paragraph">2016</p>
                <a href="" class="item--link">
                    <i class="fas fa-angle-right"></i>
                    <span>Ver más</span>
                </a>
            </div>
        </div>
    </main>
    <!--pie de página-->
</body>

</html>